body{
    text-decoration-color: black;
    background-color: aqua;
    background-image: url("/images/abstract-dynamic-pattern-wallpaper-vector_53876-59131.jpg");
}
h1{
    color: aquamarine;
}
.text-box1{
    border: 2px salmon;
    padding: 6px;
    margin: 20px;
    background-color: yellow;
}
.text-box2{
    border: 2px blue;
    padding: 6px;
    margin: 20px;
    background-color: pink;
}
.text-box3{
    border: 2px orange;
    padding: 6px;
    margin: 20px;
    background-color: grey;
}
.result{
    border: 2px red;
    padding: 6px;
    margin: 20px;
    background-color: greenyellow;

}
p{
    color: aquamarine;
}
